* {
  margin: 0px;
  padding: 0px;
}
body {
  padding: 30px;
  background-color: #94d2bd;
  font-family: Calibri, Arial, Verdana;
  color: white;
}
h1 {
  color: rgba(255, 255, 0);
  margin-bottom: 15px;
  font-family: Times;
}
p {
  margin: 10px, 0px, 10px, 0px
}
ul {
  margin-left: 30px;
}
ol {
  margin-left: 30px;
}
/* Captions for photos */

/* Classes are rules that can be aoolied to any tag.
They muat start with a full-stop */
.caption {
  color: rgba(214, 300, 214, 0.5);
  font-style: oblique;
  margin-bottom: 25px


}
a:link {
  color: rgb(255, 120, 0);
  text-decoration: none;
}
a:visited {
  color: rgb(255, 120, 0);
}
a:hover {
  text-decoration: underline;
}
