* {
  margin: 0px;
  padding: 0px;
}
body {
  padding: 30px;
  background-color: #94d2bd;
  font-family: Calibri, Arial, Verdana;
  color: white;
}
h1 {
  color: #D1345B;
  margin-bottom: 15px;
  font-family: Times;

}
p {

}
ul {
  margin-left: 30px;
}
ol {
  margin-left: 30px;
}
a:link {
  color: rgb(255, 120, 0);
  text-decoration: none;
}
a:visited {
  color: rgb(255, 120, 0);
}
a:hover {
  text-decoration: underline;
}
.firstdiv {
  size 50px;
  background-color: #34D1BF;
}

.seconddiv {
  size 30px;
  background-color: #3454D1;
}

.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.logo {

}

.links {
  text-decoration: underline;
}
